.util-bar-title {
    color: #7251B5;
    font-weight: bold;
    font-size: 1rem;
}

.util-bar-item {
    color: #FFF;
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.9rem;

    &:hover {
        color: #A06CD5; 
    }
}

.util-bar-container {
    text-align: end;
}