.individuality-container {
    display: flex;
    flex-direction: column;
}


.individuality-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
        color: #FFF;
        font-size: 0.7rem;    

        &:hover {
            cursor: pointer;
            color: #7251B5;
        }
    }

    input {
        text-align: center;
        width: 60px;
        border: none;
        border-left: 2px solid #FFF;
        background: transparent;
        color: #FFF;
        font-size: 0.7rem;
        font-weight: 500;
        padding: 0 5px;

        &:focus {
            outline: none;
        }
    }
}

.individuality-description {
    height: 150px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: #FFF;
    font-size: 0.70rem;
    font-weight: 500;
    resize: none;
    &:focus {
        outline: none;
    }
}
