.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.auth-image {
    color: #7251B5;
    width: 300px;
    height: 300px;
}

.auth-box {
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: #FFF;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    input {
        font-size: 1rem;
        background-color: transparent;
        display: block;
        border-radius: 15px;
        width: 70%;
        border: 1px solid #F2F2F2;
        color: #FFF;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 10px;
        text-align: center;

        &:focus {
            outline: none;
        }
    }

    button {
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        background-color: #F2F2F2;
        height: 50px;
        border-radius: 10px;
        width: 50%;
        border: none;

        &:focus {
            box-shadow: 0 0 0 2pt #7251B5;
            outline: none;
        }

        &:hover {
            background-color: #C4C4C4;
        }
    }
}