.item-card-alterate-icon {
    color: #22272E;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;

    * {
        cursor: pointer;
        margin-left: 25px;
    }
}

.item-card-container {
    position: relative;
    width: 380px;
    height: 230px;

}

.item-card-title {
    border-radius: 10px 10px 0px 0px;
    background-color: #F2F2F2;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 30%;

    span {
        color: #22272E;
        font-size: 0.75rem;
        font-weight: 500;
    }

}

.item-card-description {
    width: 100%;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 0px 0px 10px 10px;
    border: none;
    padding: 10px;
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 500;
    height: 250px;
    resize: none;
    height: 70%;

    &:focus {
        outline: none;
    }
}